PORT=
AUTH_MODE=
AUTH_SIGNING_PRIVKEY_B64=
AUTH_SIGNING_PUBKEY_B64=
DB_FILENAME=
TARGET_CHANGELIST=
QOS_TARGET_URL=
MATCHMAKING_MODE=
DEPLOYSERVER_URL=
REGISTRATION_MODE=
MATCHMAKING_QUEUE_WAIT_SECONDS=3
MATCHMAKING_STATUS_PERIOD_MILLIS=1000
DEPLOYSERVER_TOUCH_TIMEOUT_MS=1000
