PORT=
MY_IP=
PORT_RANGE_BEGIN=
PORT_RANGE_END=
GAMESERVER_BINARY_PATH=
METAGAME_API_KEY=
SECONDS_TO_WAIT_BETWEEN_GAMESERVER_STARTUP=0
GAMESERVER_STARTUP_POLL_INTERVAL_MS=100
GAMESERVER_STARTUP_TIMEOUT_SECONDS=60
GAMESERVER_PORT_RELEASE_TIMEOUT_MS=5000
RAMSGATE_RESTART_RETRY_SECONDS=5
ADOPT_GAMESERVER=true
PREWARM_TRAINING_DOJO=false
TRAINING_DOJO_IDLE_SHUTDOWN_SECONDS=300
HUNT_IDLE_SHUTDOWN_SECONDS=180
ESCALATION_IDLE_SHUTDOWN_SECONDS=0
